# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
nlpX/

# Model Artifacts (Large training dumps)
src/estimators.pkl

# Keep deployment artifacts (User Request)
!src/best_model.pkl
!src/tfidf.pkl
!src/le.pkl

# Data
data/raw/
data/interim/
data/processed/
!data/interim/labeled_reviews.csv # Not blocked for now but not tracked by Git. Will be block later.

# IDE
.vscode/
.idea/

# Private docs
matrix.md
notes.txt

# NLTK Data
nltk_data/